{
  "leaApi": "1.0",
  "url": "/uiComponentTest",
  "method": "set",
  "id": 2001,
  "params": {
    "screens": {
      "scr-home-commercial-001": {
        "id": "scr-home-commercial-001",
        "name": "Fin's Bar and Grill",
        "tiles": {
          "tile-out-dining-room-001": {
            "id": "tile-out-dining-room-001",
            "name": "Dining Room Zone",
            "type": "output-volume",
            "value": 60,
            "channels": [
              "7b:1b:09:74:00:11-1"
            ]
          }
        },
        "tileOrder": [
          "tile-out-dining-room-001"
        ]
      },
      "scr-home-commercial-002": {
        "id": "scr-home-commercial-002",
        "name": "Fin's Bar and Grill",
        "tiles": {
          "tile-in-restaurant-source-001": {
            "id": "tile-in-restaurant-source-001",
            "name": "Restaurant Source",
            "type": "input",
            "channels": [
              "7b:1b:09:74:00:12-1"
            ],
            "states": {
              "st-restaurant-soundtrack-001": {
                "id": "st-restaurant-soundtrack-001",
                "name": "Soundtrack.io",
                "inputSelection": {
                  "7b:1b:09:74:00:12-1": "Soundtrack.io"
                }
              },
              "st-restaurant-tv-001": {
                "id": "st-restaurant-tv-001",
                "name": "TV",
                "inputSelection": {
                  "7b:1b:09:74:00:12-1": "TV"
                }
              },
              "st-restaurant-dj-band-001": {
                "id": "st-restaurant-dj-band-001",
                "name": "DJ/Band Input",
                "inputSelection": {
                  "7b:1b:09:74:00:12-1": "DJ/Band Input"
                }
              },
              "st-restaurant-bluetooth-001": {
                "id": "st-restaurant-bluetooth-001",
                "name": "Bluetooth Input",
                "inputSelection": {
                  "7b:1b:09:74:00:12-1": "Bluetooth Input"
                }
              }
            },
            "stateOrder": [
              "st-restaurant-soundtrack-001",
              "st-restaurant-tv-001",
              "st-restaurant-dj-band-001",
              "st-restaurant-bluetooth-001"
            ]
          }
        },
        "tileOrder": [
          "tile-in-restaurant-source-001"
        ]
      },
      "scr-home-commercial-003": {
        "id": "scr-home-commercial-003",
        "name": "Fin's Bar and Grill",
        "tiles": {
          "tile-out-bar-zone-001": {
            "id": "tile-out-bar-zone-001",
            "name": "Bar Zone",
            "type": "output-volume",
            "value": 60,
            "channels": [
              "7b:1b:09:74:00:13-1"
            ]
          },
          "tile-out-lobby-zone-001": {
            "id": "tile-out-lobby-zone-001",
            "name": "Lobby Zone",
            "type": "output-volume",
            "value": 60,
            "channels": [
              "7b:1b:09:74:00:14-1"
            ]
          },
          "tile-out-outdoor-patio-001": {
            "id": "tile-out-outdoor-patio-001",
            "name": "Outdoor Patio",
            "type": "output-volume",
            "value": 60,
            "channels": [
              "7b:1b:09:74:00:15-1"
            ]
          }
        },
        "tileOrder": [
          "tile-out-bar-zone-001",
          "tile-out-lobby-zone-001",
          "tile-out-outdoor-patio-001"
        ]
      }
    },
    "screenOrder": [
      "scr-home-commercial-001",
      "scr-home-commercial-002",
      "scr-home-commercial-003"
    ],
    "settings": {
      "deviceSettings": {
        "name": "Fin's Bar and Grill"
      },
      "displaySettings": {
        "brightness": 90,
        "screensaver": {
          "enabled": true,
          "timeoutSeconds": 30
        }
      }
    }
  }
}
