{
  "leaApi": "1.0",
  "url": "/uiComponentTest",
  "method": "set",
  "id": 2002,
  "params": {
    "screens": {
      "scr-home-demo-001": {
        "id": "scr-home-demo-001",
        "name": "Home Control",
        "tiles": {
          "tile-out-indoor-group-001": {
            "id": "tile-out-indoor-group-001",
            "name": "Indoor Group Volume",
            "type": "output-volume",
            "value": 60,
            "channels": [
              "7b:1b:09:74:00:21-1"
            ]
          },
          "tile-in-indoor-input-001": {
            "id": "tile-in-indoor-input-001",
            "name": "Indoor Input",
            "type": "input",
            "channels": [
              "7b:1b:09:74:00:22-1"
            ],
            "states": {
              "st-indoor-apple-music-001": {
                "id": "st-indoor-apple-music-001",
                "name": "Apple Music",
                "inputSelection": {
                  "7b:1b:09:74:00:22-1": "Apple Music"
                }
              },
              "st-indoor-tv-001": {
                "id": "st-indoor-tv-001",
                "name": "TV",
                "inputSelection": {
                  "7b:1b:09:74:00:22-1": "TV"
                }
              },
              "st-indoor-blakes-iphone-001": {
                "id": "st-indoor-blakes-iphone-001",
                "name": "Blake's iPhone (Bluetooth)",
                "inputSelection": {
                  "7b:1b:09:74:00:22-1": "Blake's iPhone (Bluetooth)"
                }
              },
              "st-indoor-background-music-001": {
                "id": "st-indoor-background-music-001",
                "name": "Background Music",
                "inputSelection": {
                  "7b:1b:09:74:00:22-1": "Background Music"
                }
              }
            },
            "stateOrder": [
              "st-indoor-apple-music-001",
              "st-indoor-tv-001",
              "st-indoor-blakes-iphone-001",
              "st-indoor-background-music-001"
            ]
          },
          "tile-out-living-room-001": {
            "id": "tile-out-living-room-001",
            "name": "Living Room",
            "type": "output-volume",
            "value": 60,
            "channels": [
              "7b:1b:09:74:00:23-1"
            ]
          },
          "tile-out-dining-room-001": {
            "id": "tile-out-dining-room-001",
            "name": "Dining Room",
            "type": "output-volume",
            "value": 60,
            "channels": [
              "7b:1b:09:74:00:24-1"
            ]
          },
          "tile-out-kitchen-001": {
            "id": "tile-out-kitchen-001",
            "name": "Kitchen",
            "type": "output-volume",
            "value": 60,
            "channels": [
              "7b:1b:09:74:00:25-1"
            ]
          },
          "tile-out-den-001": {
            "id": "tile-out-den-001",
            "name": "Den",
            "type": "output-volume",
            "value": 60,
            "channels": [
              "7b:1b:09:74:00:26-1"
            ]
          }
        },
        "tileOrder": [
          "tile-out-indoor-group-001",
          "tile-in-indoor-input-001",
          "tile-out-living-room-001",
          "tile-out-dining-room-001",
          "tile-out-kitchen-001",
          "tile-out-den-001"
        ]
      },
      "scr-home-demo-002": {
        "id": "scr-home-demo-002",
        "name": "Home Control",
        "tiles": {
          "tile-out-outdoor-group-001": {
            "id": "tile-out-outdoor-group-001",
            "name": "Outdoor Group Volume",
            "type": "output-volume",
            "value": 60,
            "channels": [
              "7b:1b:09:74:00:31-1"
            ]
          },
          "tile-in-outdoor-input-001": {
            "id": "tile-in-outdoor-input-001",
            "name": "Outdoor Input",
            "type": "input",
            "channels": [
              "7b:1b:09:74:00:32-1"
            ],
            "states": {
              "st-outdoor-apple-music-001": {
                "id": "st-outdoor-apple-music-001",
                "name": "Apple Music",
                "inputSelection": {
                  "7b:1b:09:74:00:32-1": "Apple Music"
                }
              },
              "st-outdoor-tv-001": {
                "id": "st-outdoor-tv-001",
                "name": "TV",
                "inputSelection": {
                  "7b:1b:09:74:00:32-1": "TV"
                }
              },
              "st-outdoor-blakes-iphone-001": {
                "id": "st-outdoor-blakes-iphone-001",
                "name": "Blake's iPhone (Bluetooth)",
                "inputSelection": {
                  "7b:1b:09:74:00:32-1": "Blake's iPhone (Bluetooth)"
                }
              },
              "st-outdoor-background-music-001": {
                "id": "st-outdoor-background-music-001",
                "name": "Background Music",
                "inputSelection": {
                  "7b:1b:09:74:00:32-1": "Background Music"
                }
              }
            },
            "stateOrder": [
              "st-outdoor-apple-music-001",
              "st-outdoor-tv-001",
              "st-outdoor-blakes-iphone-001",
              "st-outdoor-background-music-001"
            ]
          },
          "tile-out-pool-001": {
            "id": "tile-out-pool-001",
            "name": "Pool Volume",
            "type": "output-volume",
            "value": 60,
            "channels": [
              "7b:1b:09:74:00:33-1"
            ]
          },
          "tile-out-tiki-bar-001": {
            "id": "tile-out-tiki-bar-001",
            "name": "Tiki Bar Volume",
            "type": "output-volume",
            "value": 60,
            "channels": [
              "7b:1b:09:74:00:34-1"
            ]
          },
          "tile-out-landscape-001": {
            "id": "tile-out-landscape-001",
            "name": "Landscape Volume",
            "type": "output-volume",
            "value": 60,
            "channels": [
              "7b:1b:09:74:00:35-1"
            ]
          },
          "tile-out-firepit-001": {
            "id": "tile-out-firepit-001",
            "name": "Firepit Volume",
            "type": "output-volume",
            "value": 60,
            "channels": [
              "7b:1b:09:74:00:36-1"
            ]
          }
        },
        "tileOrder": [
          "tile-out-outdoor-group-001",
          "tile-in-outdoor-input-001",
          "tile-out-pool-001",
          "tile-out-tiki-bar-001",
          "tile-out-landscape-001",
          "tile-out-firepit-001"
        ]
      }
    },
    "screenOrder": [
      "scr-home-demo-001",
      "scr-home-demo-002"
    ],
    "settings": {
      "deviceSettings": {
        "name": "Home Control"
      },
      "displaySettings": {
        "brightness": 90,
        "screensaver": {
          "enabled": true,
          "timeoutSeconds": 30
        }
      }
    }
  }
}
