[Unit]
Description=PulseAudio Sound System (system mode)
After=dbus.service bluetooth.service
Wants=bluetooth.service

[Service]
Type=simple
ExecStart=/usr/bin/pulseaudio --system --realtime --disallow-exit --no-cpu-limit --log-target=journal
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
