// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (C) 2012 Texas Instruments Incorporated - https://www.ti.com/
 */
/dts-v1/;

#include <dt-bindings/interrupt-controller/irq.h>
#include "am33xx-lea-pilotfish.dtsi"

/ {
	aliases {
		rtc0 = &ext_rtc; /* Make the I2C RTC primary */
		rtc1 = &rtc;     /* Make the internal RTC secondary */
	};
};

/ {
	model = "LEA Pilotfish";
	compatible = "ti,am335x-bone-black", "ti,am335x-bone", "ti,am33xx";
};

/ {
	cpus {
		cpu@0 {
			cpu0-supply = <&dcdc2_reg>;
		};
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x20000000>; /* 512 MB */
	};

	chosen {
		stdout-path = &uart0;
	};

	leds {
		pinctrl-names = "default";
		pinctrl-0 = <&user_leds_s0>;

		compatible = "gpio-leds";

		led2 {
			label = "beaglebone:green:heartbeat";
			gpios = <&gpio1 21 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};

		led3 {
			label = "beaglebone:green:mmc0";
			gpios = <&gpio1 22 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "mmc0";
			default-state = "off";
		};

		led4 {
			label = "beaglebone:green:usr2";
			gpios = <&gpio1 23 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "cpu0";
			default-state = "off";
		};
	};

/* enable GPIO0[8] as active-high wakeup (note: wakeup not supported for normal gpios) */
  /* gpio_keys removed - LCD_DATA12 / GPIO0_8 reclaimed for LCDC */

	vmmcsd_fixed: fixedregulator0 {
		compatible = "regulator-fixed";
		regulator-name = "vmmcsd_fixed";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};
};

&am33xx_pinmux {

	pinctrl-names = "default";
	pinctrl-0 = <&clkout2_pin &tof_pins>;

	clkout2_pin: pinmux_clkout2_pin {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_XDMA_EVENT_INTR1, PIN_OUTPUT_PULLDOWN, MUX_MODE3)	/* xdma_event_intr1.clkout2 */
		>;
	};

	user_leds_s0: user_leds_s0 {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_GPMC_A5, PIN_OUTPUT_PULLDOWN, MUX_MODE7)	/* gpmc_a5.gpio1_21 */
			AM33XX_PADCONF(AM335X_PIN_GPMC_A6, PIN_OUTPUT_PULLUP, MUX_MODE7)	/* gpmc_a6.gpio1_22 */
			AM33XX_PADCONF(AM335X_PIN_GPMC_A7, PIN_OUTPUT_PULLDOWN, MUX_MODE7)	/* gpmc_a7.gpio1_23 */
			AM33XX_PADCONF(AM335X_PIN_GPMC_A0, PIN_OUTPUT_PULLUP, MUX_MODE7)    /* gpmc_a0.gpio1_16 */
		>;
	};

	uart0_pins: pinmux_uart0_pins {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_UART0_RXD, PIN_INPUT_PULLUP, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_UART0_TXD, PIN_OUTPUT_PULLDOWN, MUX_MODE0)
		>;
	};

	uart1_pins: pinmux_uart1_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(AM335X_PIN_UART1_RXD, PIN_INPUT_PULLUP | MUX_MODE0)	/* uart1_rxd.uart1_rxd */
			AM33XX_IOPAD(AM335X_PIN_UART1_TXD, PIN_OUTPUT_PULLUP | MUX_MODE0)	/* uart1_txd.uart1_txd */
			AM33XX_IOPAD(AM335X_PIN_UART1_CTSN, PIN_INPUT_PULLUP | MUX_MODE0)	/* uart1_ctsn.uart1_ctsn */
			AM33XX_IOPAD(AM335X_PIN_UART1_RTSN, PIN_OUTPUT_PULLUP | MUX_MODE0)	/* uart1_rtsn.uart1_rtsn */
		>;
	};

	/* uart5 not used - LCD_DATA8/9 claimed by LCDC */

  spi0_pins: pinmux_spi0_pins {
    pinctrl-single,pins = <
      AM33XX_PADCONF(AM335X_PIN_SPI0_SCLK, PIN_INPUT_PULLUP, MUX_MODE0)	/* spi0 sclk (this is a quirk - sclk is actually an output, but pinmux must be programmed as an input for it to work! */
      AM33XX_PADCONF(AM335X_PIN_SPI0_D0, PIN_INPUT_PULLUP, MUX_MODE0)	  /* spi0 d0 */
      AM33XX_PADCONF(AM335X_PIN_SPI0_D1, PIN_OUTPUT_PULLUP, MUX_MODE0)	/* spi0 d1 */
      AM33XX_PADCONF(AM335X_PIN_SPI0_CS0, PIN_OUTPUT_PULLUP, MUX_MODE0)	/* spi0 cs0 */
    >;
  };

	spi1_pins: pinmux_spi1_pins {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_MCASP0_ACLKX,  PIN_INPUT_PULLUP,    MUX_MODE3)	/* mcasp0_aclkx.spi1_sclk */
			AM33XX_PADCONF(AM335X_PIN_MCASP0_FSX,    PIN_OUTPUT_PULLDOWN, MUX_MODE3)	/* mcasp0_fsx.spi1_d0 - TFT_SDA (MOSI, ti,pindir-d0-out-d1-in) */
			AM33XX_PADCONF(AM335X_PIN_MCASP0_AXR0,   PIN_INPUT_PULLDOWN,  MUX_MODE3)	/* mcasp0_axr0.spi1_d1 - unused MISO */
			AM33XX_PADCONF(AM335X_PIN_MCASP0_AHCLKR, PIN_OUTPUT_PULLUP,   MUX_MODE3)	/* mcasp0_ahclkr.spi1_cs0 - TFT LCD init SPI */
		>;
	};

	lcd_pins: pinmux_lcd_pins {
		pinctrl-single,pins = <
			/* LCD panel reset - active low */
			AM33XX_PADCONF(AM335X_PIN_GPMC_A11, PIN_OUTPUT_PULLUP, MUX_MODE7)	/* gpmc_a11.gpio1_27 - LCD_RSTn */
			/* LCD panel sleep - active high (TFT_SLEEP) */
			AM33XX_PADCONF(AM335X_PIN_GPMC_A1, PIN_OUTPUT_PULLUP, MUX_MODE7)	/* gpmc_a1.gpio1_17 - TFT_SLEEP */
			/* CTP touch controller reset - active low */
			AM33XX_PADCONF(AM335X_PIN_GPMC_AD12, PIN_OUTPUT_PULLUP, MUX_MODE7)	/* gpmc_ad12.gpio1_12 - CTP_RST */
			/* CTP touch interrupt - active low, connected to XDMA_EVENT_INTR0 */
			AM33XX_PADCONF(AM335X_PIN_XDMA_EVENT_INTR0, PIN_INPUT_PULLUP, MUX_MODE7)	/* xdma_event_intr0.gpio0_19 - CTP_INT */
			/* 20V backlight enable - active high */
			AM33XX_PADCONF(AM335X_PIN_GPMC_AD10, PIN_OUTPUT_PULLDOWN, MUX_MODE7)	/* gpmc_ad10.gpio0_26 - BL_EN_20V */
		>;
	};

	i2c0_pins: pinmux_i2c0_pins {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_I2C0_SDA, PIN_INPUT_PULLUP, MUX_MODE0)	/* i2c0_sda.i2c0_sda */
			AM33XX_PADCONF(AM335X_PIN_I2C0_SCL, PIN_INPUT_PULLUP, MUX_MODE0)	/* i2c0_scl.i2c0_scl */
		>;
	};

	i2c1_pins: pinmux_i2c1_pins {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_UART0_CTSN, PIN_INPUT_PULLUP, MUX_MODE3)	/* uart0_ctsn.i2c1_sda */
			AM33XX_PADCONF(AM335X_PIN_UART0_RTSN, PIN_INPUT_PULLUP, MUX_MODE3)	/* uart0_rtsn.i2c1_scl */
		>;
	};


	cpsw_default: cpsw_default {
		pinctrl-single,pins = <
			/* Slave 1 */
			AM33XX_PADCONF(AM335X_PIN_MII1_RX_ER, PIN_INPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_MII1_TX_EN, PIN_OUTPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_MII1_RX_DV, PIN_INPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_MII1_TXD3, PIN_OUTPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_MII1_TXD2, PIN_OUTPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_MII1_TXD1, PIN_OUTPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_MII1_TXD0, PIN_OUTPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_MII1_TX_CLK, PIN_INPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_MII1_RX_CLK, PIN_INPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_MII1_RXD3, PIN_INPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_MII1_RXD2, PIN_INPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_MII1_RXD1, PIN_INPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_MII1_RXD0, PIN_INPUT, MUX_MODE0)
		>;
	};

	cpsw_sleep: cpsw_sleep {
		pinctrl-single,pins = <
			/* Slave 1 reset value */
			AM33XX_PADCONF(AM335X_PIN_MII1_RX_ER, PIN_INPUT_PULLDOWN, MUX_MODE7)
			AM33XX_PADCONF(AM335X_PIN_MII1_TX_EN, PIN_INPUT_PULLDOWN, MUX_MODE7)
			AM33XX_PADCONF(AM335X_PIN_MII1_RX_DV, PIN_INPUT_PULLDOWN, MUX_MODE7)
			AM33XX_PADCONF(AM335X_PIN_MII1_TXD3, PIN_INPUT_PULLDOWN, MUX_MODE7)
			AM33XX_PADCONF(AM335X_PIN_MII1_TXD2, PIN_INPUT_PULLDOWN, MUX_MODE7)
			AM33XX_PADCONF(AM335X_PIN_MII1_TXD1, PIN_INPUT_PULLDOWN, MUX_MODE7)
			AM33XX_PADCONF(AM335X_PIN_MII1_TXD0, PIN_INPUT_PULLDOWN, MUX_MODE7)
			AM33XX_PADCONF(AM335X_PIN_MII1_TX_CLK, PIN_INPUT_PULLDOWN, MUX_MODE7)
			AM33XX_PADCONF(AM335X_PIN_MII1_RX_CLK, PIN_INPUT_PULLDOWN, MUX_MODE7)
			AM33XX_PADCONF(AM335X_PIN_MII1_RXD3, PIN_INPUT_PULLDOWN, MUX_MODE7)
			AM33XX_PADCONF(AM335X_PIN_MII1_RXD2, PIN_INPUT_PULLDOWN, MUX_MODE7)
			AM33XX_PADCONF(AM335X_PIN_MII1_RXD1, PIN_INPUT_PULLDOWN, MUX_MODE7)
			AM33XX_PADCONF(AM335X_PIN_MII1_RXD0, PIN_INPUT_PULLDOWN, MUX_MODE7)
		>;
	};

	davinci_mdio_default: davinci_mdio_default {
		pinctrl-single,pins = <
			/* MDIO */
			AM33XX_PADCONF(AM335X_PIN_MDIO, PIN_INPUT_PULLUP | SLEWCTRL_FAST, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_MDC, PIN_OUTPUT_PULLUP, MUX_MODE0)
		>;
	};

	davinci_mdio_sleep: davinci_mdio_sleep {
		pinctrl-single,pins = <
			/* MDIO reset value */
			AM33XX_PADCONF(AM335X_PIN_MDIO, PIN_INPUT_PULLDOWN, MUX_MODE7)
			AM33XX_PADCONF(AM335X_PIN_MDC, PIN_INPUT_PULLDOWN, MUX_MODE7)
		>;
	};

	mmc1_pins: pinmux_mmc1_pins {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_MMC0_DAT3, PIN_INPUT_PULLUP, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_MMC0_DAT2, PIN_INPUT_PULLUP, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_MMC0_DAT1, PIN_INPUT_PULLUP, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_MMC0_DAT0, PIN_INPUT_PULLUP, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_MMC0_CLK, PIN_INPUT_PULLUP, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_MMC0_CMD, PIN_INPUT_PULLUP, MUX_MODE0)
		>;
	};

	emmc_pins: pinmux_emmc_pins {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_GPMC_CSN1, PIN_INPUT_PULLUP, MUX_MODE2) /* gpmc_csn1.mmc1_clk */
			AM33XX_PADCONF(AM335X_PIN_GPMC_CSN2, PIN_INPUT_PULLUP, MUX_MODE2) /* gpmc_csn2.mmc1_cmd */
			AM33XX_PADCONF(AM335X_PIN_GPMC_AD0, PIN_INPUT_PULLUP, MUX_MODE1) /* gpmc_ad0.mmc1_dat0 */
			AM33XX_PADCONF(AM335X_PIN_GPMC_AD1, PIN_INPUT_PULLUP, MUX_MODE1) /* gpmc_ad1.mmc1_dat1 */
			AM33XX_PADCONF(AM335X_PIN_GPMC_AD2, PIN_INPUT_PULLUP, MUX_MODE1) /* gpmc_ad2.mmc1_dat2 */
			AM33XX_PADCONF(AM335X_PIN_GPMC_AD3, PIN_INPUT_PULLUP, MUX_MODE1) /* gpmc_ad3.mmc1_dat3 */
			AM33XX_PADCONF(AM335X_PIN_GPMC_AD4, PIN_INPUT_PULLUP, MUX_MODE1) /* gpmc_ad4.mmc1_dat4 */
			AM33XX_PADCONF(AM335X_PIN_GPMC_AD5, PIN_INPUT_PULLUP, MUX_MODE1) /* gpmc_ad5.mmc1_dat5 */
			AM33XX_PADCONF(AM335X_PIN_GPMC_AD6, PIN_INPUT_PULLUP, MUX_MODE1) /* gpmc_ad6.mmc1_dat6 */
			AM33XX_PADCONF(AM335X_PIN_GPMC_AD7, PIN_INPUT_PULLUP, MUX_MODE1) /* gpmc_ad7.mmc1_dat7 */
		>;
	};

  wifi_pins: pinmux_wifi_pins {
    pinctrl-single,pins = <
      AM33XX_PADCONF(AM335X_PIN_GPMC_CLK, PIN_INPUT_PULLUP, MUX_MODE3) /* wifi_mmc2_clk  GPMC_CLK  / GPIO2_1  (V12) */
      AM33XX_PADCONF(AM335X_PIN_GPMC_CSN3, PIN_INPUT_PULLUP, MUX_MODE3) /* wifi_mmc2_cmd  GPMC_CSN3 / GPIO2_0  (T13) */
      //AM33XX_PADCONF(AM335X_PIN_GPMC_AD12, PIN_INPUT_PULLUP, MUX_MODE3) /* wifi_mmc2_dat0 GPMC_AD12 / GPIO1_12 (T12) */
      AM33XX_PADCONF(AM335X_PIN_GPMC_AD13, PIN_INPUT_PULLUP, MUX_MODE3) /* wifi_mmc2_dat1 GPMC_AD13 / GPIO1_13 (R12) */
      AM33XX_PADCONF(AM335X_PIN_GPMC_AD15, PIN_INPUT_PULLUP, MUX_MODE3) /* wifi_mmc2_dat3 GPMC_AD15 / GPIO1_15 (U13) */
      //AM33XX_PADCONF(AM335X_PIN_GPMC_A1, PIN_INPUT_PULLUP, MUX_MODE7) /* wifi_mmc2_/rst GPMC_A1   / GPIO1_17 (V14) */
      //AM33XX_PADCONF(AM335X_PIN_UART0_RTSN, PIN_INPUT_PULLUP, MUX_MODE7) /* 3.3V switched power supply enable UART0_RTS / GPIO1_9 */
    >;
  };

  bt_pins: pinmux_bt_pins {
    pinctrl-single,pins = <
      AM33XX_PADCONF(AM335X_PIN_GPMC_AD14, PIN_OUTPUT_PULLDOWN, MUX_MODE7) /* gpmc_ad14.gpio1_14 - CYBT-343026-01 BT_REG_ON (active-high, pulled low at boot) */
    >;
  };

	/* McASP1 I2S output to Dante module.
	 * All three pads are on the MCASP0_* ball row, muxed to mcasp1 at MUX_MODE3.
	 * McASP1 is configured as I2S master (drives BCLK and LRCLK).
	 *   MCASP0_ACLKR  (B12 / gpio3_18) → mcasp1_aclkx  = BCLK
	 *   MCASP0_FSR    (C13 / gpio3_19) → mcasp1_fsx    = LRCLK
	 *   MCASP0_AHCLKX (A14 / gpio3_21) → mcasp1_axr1   = DOUT (serializer 1)
	 */
	mcasp1_pins: pinmux_mcasp1_pins {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_MCASP0_ACLKR,  PIN_OUTPUT_PULLDOWN, MUX_MODE3) /* mcasp0_aclkr.mcasp1_aclkx  - BCLK  (B12) */
			AM33XX_PADCONF(AM335X_PIN_MCASP0_FSR,    PIN_OUTPUT_PULLDOWN, MUX_MODE3) /* mcasp0_fsr.mcasp1_fsx      - LRCLK (C13) */
			AM33XX_PADCONF(AM335X_PIN_MCASP0_AHCLKX, PIN_OUTPUT_PULLDOWN, MUX_MODE3) /* mcasp0_ahclkx.mcasp1_axr1  - DOUT  (A14) */
		>;
	};

	ehrpwm1_pins: pinmux_ehrpwm1_pins {
		pinctrl-single,pins = <
			/* AM33XX_PADCONF(AM335X_PIN_GPMC_A2, PIN_OUTPUT_PULLDOWN, MUX_MODE6) *//* ehrpwm1 A */
			/* AM33XX_PADCONF(AM335X_PIN_GPMC_A3, PIN_OUTPUT_PULLDOWN, MUX_MODE6) *//* ehrpwm1 B */
		>;
	};
	ehrpwm2_pins: pinmux_ehrpwm2_pins {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_GPMC_AD8, PIN_OUTPUT_PULLDOWN, MUX_MODE4)	/* ehrpwm2 A */
			/* AM33XX_PADCONF(AM335X_PIN_GPMC_AD9, PIN_OUTPUT_PULLDOWN, MUX_MODE4) *//* ehrpwm2 B */
		>;
	};

	/* gpio0_8 / LCD_DATA12 reclaimed by LCDC - wakeup key removed */

	tof_pins: pinmux_tof_pins {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_RMII1_REF_CLK, PIN_INPUT_PULLUP, MUX_MODE7)  /* rmii1_ref_clk.gpio0_29 - ToF sensor interrupt */
			AM33XX_PADCONF(AM335X_PIN_GPMC_WEN, PIN_OUTPUT_PULLDOWN, MUX_MODE7)    /* gpmc_wen.gpio2_4 - ToF XSHUT (active-low, pulled low at boot) */
		>;
	};

	/* DMT049W1NTCMI-1A parallel RGB bus (16-bit RGB565).
	 * All 16 data lines available - UART5 disabled, wakeup key removed. */
	lcdc_pins: pinmux_lcdc_pins {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA0,  PIN_OUTPUT, MUX_MODE0)	/* lcd_data0 */
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA1,  PIN_OUTPUT, MUX_MODE0)	/* lcd_data1 */
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA2,  PIN_OUTPUT, MUX_MODE0)	/* lcd_data2 */
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA3,  PIN_OUTPUT, MUX_MODE0)	/* lcd_data3 */
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA4,  PIN_OUTPUT, MUX_MODE0)	/* lcd_data4 */
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA5,  PIN_OUTPUT, MUX_MODE0)	/* lcd_data5 */
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA6,  PIN_OUTPUT, MUX_MODE0)	/* lcd_data6 */
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA7,  PIN_OUTPUT, MUX_MODE0)	/* lcd_data7 */
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA8,  PIN_OUTPUT, MUX_MODE0)	/* lcd_data8  (was UART5 TXD) */
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA9,  PIN_OUTPUT, MUX_MODE0)	/* lcd_data9  (was UART5 RXD) */
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA10, PIN_OUTPUT, MUX_MODE0)	/* lcd_data10 */
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA11, PIN_OUTPUT, MUX_MODE0)	/* lcd_data11 */
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA12, PIN_OUTPUT, MUX_MODE0)	/* lcd_data12 (was wakeup GPIO0_8) */
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA13, PIN_OUTPUT, MUX_MODE0)	/* lcd_data13 */
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA14, PIN_OUTPUT, MUX_MODE0)	/* lcd_data14 */
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA15, PIN_OUTPUT, MUX_MODE0)	/* lcd_data15 */
			/* Control signals */
			AM33XX_PADCONF(AM335X_PIN_LCD_VSYNC,      PIN_OUTPUT, MUX_MODE0)	/* lcd_vsync */
			AM33XX_PADCONF(AM335X_PIN_LCD_HSYNC,      PIN_OUTPUT, MUX_MODE0)	/* lcd_hsync */
			AM33XX_PADCONF(AM335X_PIN_LCD_PCLK,       PIN_OUTPUT, MUX_MODE0)	/* lcd_pclk */
			AM33XX_PADCONF(AM335X_PIN_LCD_AC_BIAS_EN, PIN_OUTPUT, MUX_MODE0)	/* lcd_ac_bias_en / DE */
		>;
	};

	usb0_drvvbus_pins: pinmux_usb0_drvvbus_pins {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_USB0_DRVVBUS, PIN_OUTPUT_PULLDOWN, MUX_MODE0)	/* usb0_drvvbus - MUSB hardware VBUS enable output to external 5V switch */
		>;
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins &bt_pins>;
	status = "okay";

	bluetooth {
		compatible = "brcm,bcm43438-bt";
		max-speed = <3000000>;
		shutdown-gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
	};
};

&uart5 {
	/* UART5 disabled - LCD_DATA8/9 reclaimed for LCDC */
	status = "disabled";
};

&spi0 { 
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&spi0_pins>;
    cs-gpios = <0>, <&gpio2 22 GPIO_ACTIVE_LOW>; /* note: SPI chip selects are steered externally with an additional GPIO pin */
    spi-am12or56@0 {
        spi-max-frequency = <24000000>;
        reg = <0>;
        compatible = "linux,spidev";
    };
    spi-am34or78@1 {
        spi-max-frequency = <24000000>;
        reg = <1>;
        compatible = "linux,spidev";
    };
};

&spi1 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&spi1_pins &lcd_pins>;
    /* cs0: MCASP0_AHCLKR / gpio3_17 - TFT LCD SPI init (only device on SPI1) */
    cs-gpios = <&gpio3 17 GPIO_ACTIVE_LOW>;
    num-chipselects = <1>;
    /* TFT_SDA is wired to SPI1_D0 (MISO pin), not SPI1_D1 (MOSI pin).
     * This property swaps the D0/D1 directions so D0 becomes the output. */
    ti,pindir-d0-out-d1-in;

    /* DMT049W1NTCMI-1A LCD SPI init interface (Sitronix ST7102 TDDI)
     * SPI Mode 3 (CPOL=1, CPHA=1), write-only, used only for panel init sequence.
     * Pixel data is delivered over the RGB parallel (LCDC) bus.
     * Bound to panel-dmt049w1ntcmi kernel driver which fires init in .prepare().
     * tilcdc connects directly to this panel via the port/endpoint graph. */
    lcd_panel: spi-lcd@0 {
        compatible = "densitron,dmt049w1ntcmi";
        reg = <0>;
        spi-max-frequency = <8000000>;
        spi-cpol;
        spi-cpha;
        /* LCD hard reset: GPMC_A11 / gpio1_27, active-low */
        reset-gpios = <&gpio1 27 GPIO_ACTIVE_LOW>;
        backlight = <&backlight>;
        port {
            lcd_panel_out: endpoint {
                remote-endpoint = <&lcdc_out>;
            };
        };
    };
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;
	status = "okay";
	clock-frequency = <400000>;
	tps: tps@24 {
		reg = <0x24>;
	};
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	status = "okay";
	clock-frequency = <100000>;

	ext_rtc: rtc@6f {
		compatible = "microchip,mcp7940x";
		reg = <0x6f>;
	};

	/* Sitronix ST7102 TDDI capacitive touch controller
	 * Part of the Densitron DMT049W1NTCMI-1A display module.
	 * I2C address: 0x55 (7-bit) = 0xAA write / 0xAB read (8-bit per datasheet)
	 * IRQ:   XDMA_EVENT_INTR0 / gpio0_19
	 * Reset: GPMC_AD12        / gpio1_12 */
	sitronix_ts: sitronix@55 {
		compatible = "sitronix_ts";
		reg = <0x55>;
		interrupt-parent = <&gpio0>;
		interrupts = <19 IRQ_TYPE_EDGE_FALLING>;
		irq-gpio = <&gpio0 19 GPIO_ACTIVE_LOW>;
		rst-gpio = <&gpio1 12 GPIO_ACTIVE_LOW>;
		status = "okay";
	};
};

&i2c2 {
	/* uart1_ctsn/rtsn pins are used for CYBT-343026-01 UART1 flow control; i2c2 is unavailable */
	status = "disabled";
};

/include/ "tps65217.dtsi"

&tps {
	/*
	 * Configure pmic to enter OFF-state instead of SLEEP-state ("RTC-only
	 * mode") at poweroff.  Most BeagleBone versions do not support RTC-only
	 * mode and risk hardware damage if this mode is entered.
	 *
	 * For details, see linux-omap mailing list May 2015 thread
	 *	[PATCH] ARM: dts: am335x-bone* enable pmic-shutdown-controller
	 * In particular, messages:
	 *	http://www.spinics.net/lists/linux-omap/msg118585.html
	 *	http://www.spinics.net/lists/linux-omap/msg118615.html
	 *
	 * You can override this later with
	 *	&tps {  /delete-property/ ti,pmic-shutdown-controller;  }
	 * if you want to use RTC-only mode and made sure you are not affected
	 * by the hardware problems. (Tip: double-check by performing a current
	 * measurement after shutdown: it should be less than 1 mA.)
	 */

	interrupts = <7>; /* NMI */
	interrupt-parent = <&intc>;

	ti,pmic-shutdown-controller;

	charger {
		status = "okay";
	};

	pwrbutton {
		status = "okay";
	};

	regulators {
		dcdc1_reg: regulator@0 {
			regulator-name = "vdds_dpr";
			regulator-always-on;
		};

		dcdc2_reg: regulator@1 {
			/* VDD_MPU voltage limits 0.95V - 1.26V with +/-4% tolerance */
			regulator-name = "vdd_mpu";
			regulator-min-microvolt = <925000>;
			regulator-max-microvolt = <1351500>;
			regulator-boot-on;
			regulator-always-on;
		};

		dcdc3_reg: regulator@2 {
			/* VDD_CORE voltage limits 0.95V - 1.1V with +/-4% tolerance */
			regulator-name = "vdd_core";
			regulator-min-microvolt = <925000>;
			regulator-max-microvolt = <1150000>;
			regulator-boot-on;
			regulator-always-on;
		};

		ldo1_reg: regulator@3 {
			regulator-name = "vio,vrtc,vdds";
			regulator-always-on;
		};

		ldo2_reg: regulator@4 {
			regulator-name = "vdd_3v3aux";
			regulator-always-on;
		};

		ldo3_reg: regulator@5 {
			regulator-name = "vdd_1v8";
			regulator-always-on;
		};

		ldo4_reg: regulator@6 {
			regulator-name = "vdd_3v3a";
			regulator-always-on;
		};
	};
};

&cpsw_emac0 {
	phy-mode = "mii";

    fixed-link {
        speed = <100>;
        full-duplex;
    };
};

&cpsw_emac1 {
	status = "disabled";
};

&mac {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&cpsw_default>;
	pinctrl-1 = <&cpsw_sleep>;
	status = "okay";
	slaves = <1>;
	active_slave = <0>;
};

&davinci_mdio {
    status = "disabled";
};

&aes {
	status = "okay";
};

&sham {
	status = "okay";
};

&rtc {
	clocks = <&clk_32768_ck>, <&clk_24mhz_clkctrl AM3_CLK_24MHZ_CLKDIV32K_CLKCTRL 0>;
	clock-names = "ext-clk", "int-clk";
	system-power-controller;
	status = "okay";
};


&ldo3_reg {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-always-on;
};

&mmc1 {
	status = "okay";
	vmmc-supply = <&vmmcsd_fixed>;
	bus-width = <4>;
	pinctrl-names = "default";
	pinctrl-0 = <&mmc1_pins>;
	cd-gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;
};

&mmc2 {
	vmmc-supply = <&vmmcsd_fixed>;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_pins>;
	bus-width = <8>;
	status = "okay";
	non-removable;
};

&mmc3 {
  vmmc-supply = <&vmmcsd_fixed>;
  pinctrl-names = "default";
  pinctrl-0 = <&wifi_pins>;
  max-frequency = <25000000>;
  dmas = <&edma_xbar 12 0 1>, <&edma_xbar 13 0 2>;
  dma-names = "tx", "rx";
  status = "okay";
  //non-removable;
  //broken-cd;
  wilc_sdio@0 {
    compatible = "microchip,wilc1000";
    status = "okay";
    reg = <0x0>;
    bus-width = <0x4>;
    clocks = <&clk_32768_ck>;
    clock-names = "rtc";
  };
};

/*
&epwmss1 {
  status = "okay";
};
&ehrpwm1 {
  pinctrl-names = "default";
  pinctrl-0 = <&ehrpwm1_pins>;
  status = "okay";
};
*/
&epwmss2 {
  status = "okay";
};
&ehrpwm2 {
  pinctrl-names = "default";
  pinctrl-0 = <&ehrpwm2_pins>;
  status = "okay";
};

&cpu0_opp_table {
	/*
	 * All PG 2.0 silicon may not support 1GHz but some of the early
	 * BeagleBone Blacks have PG 2.0 silicon which is guaranteed
	 * to support 1GHz OPP so enable it for PG 2.0 on this board.
	 */
	oppnitro-1000000000 {
		opp-supported-hw = <0x06 0x0100>;
	};
};

&gpio0 {
	gpio-line-names =
		"[mdio_data]",
		"[mdio_clk]",
		"P9_22 [spi0_sclk]",
		"P9_21 [spi0_d0]",
		"P9_18 [spi0_d1]",
		"P9_17 [spi0_cs0]",
		"[mmc0_cd]",
		"P8_42A [ecappwm0]",
		"[lcd_data12]",
		"[lcd_data13]",
		"[lcd_data14]",
		"[lcd_data15]",
		"P9_20 [i2c2_sda]",
		"P9_19 [i2c2_scl]",
		"P9_26 [uart1_rxd]",
		"P9_24 [uart1_txd]",
		"[rmii1_txd3]",
		"[rmii1_txd2]",
		"[usb0_drvvbus]",
		"[hdmi cec]",
		"P9_41B",
		"[rmii1_txd1]",
		"P8_19 [ehrpwm2a]",
		"P8_13 [ehrpwm2b]",
		"[ctp_int]",
		"NC",
		"[bl_en_20v]",
		"P8_17",
		"[rmii1_txd0]",
		"[rmii1_refclk] [tof_irq]",
		"P9_11 [uart4_rxd]",
		"P9_13 [uart4_txd]";
};

&gpio1 {
	gpio-line-names =
		"P8_25 [mmc1_dat0]",
		"[mmc1_dat1]",
		"P8_5 [mmc1_dat2]",
		"P8_6 [mmc1_dat3]",
		"P8_23 [mmc1_dat4]",
		"P8_22 [mmc1_dat5]",
		"P8_3 [mmc1_dat6]",
		"P8_4 [mmc1_dat7]",
		"NC",
		"NC",
		"NC",
		"NC",
		"[ctp_rst]",
		"P8_11",
		"P8_16",
		"P8_15",
		"P9_15A",
		"P9_23",
		"P9_14 [ehrpwm1a]",
		"P9_16 [ehrpwm1b]",
		"[emmc rst]",
		"[usr0 led]",
		"[usr1 led]",
		"[usr2 led]",
		"[usr3 led]",
		"[hdmi irq]",
		"[usb vbus oc]",
		"[lcd_rstn]",
		"P9_12",
		"P8_26",
		"P8_21 [emmc]",
		"P8_20 [emmc]";

	tft-sleep-hog {
		gpio-hog;
		/* TFT_SLEEP is active-low: pin HIGH = display awake, pin LOW = display sleeping.
		 * GPIO_ACTIVE_LOW + output-low = logically deasserted = pin physically HIGH = awake. */
		gpios = <17 GPIO_ACTIVE_LOW>;
		output-low;
		line-name = "tft-sleep";
	};
};

&gpio2 {
	gpio-line-names =
		"P9_15B",
		"P8_18",
		"P8_7",
		"P8_8",
		"[gpmc_wen] [tof_xshut]",
		"P8_9",
		"P8_45 [hdmi]",
		"P8_46 [hdmi]",
		"P8_43 [hdmi]",
		"P8_44 [hdmi]",
		"P8_41 [hdmi]",
		"P8_42 [hdmi]",
		"P8_39 [hdmi]",
		"P8_40 [hdmi]",
		"P8_37 [hdmi]",
		"P8_38 [hdmi]",
		"P8_36 [hdmi]",
		"P8_34 [hdmi]",
		"[rmii1_rxd3]",
		"[rmii1_rxd2]",
		"[rmii1_rxd1]",
		"[rmii1_rxd0]",
		"P8_27 [hdmi]",
		"P8_29 [hdmi]",
		"P8_28 [hdmi]",
		"P8_30 [hdmi]",
		"[mmc0_dat3]",
		"[mmc0_dat2]",
		"[mmc0_dat1]",
		"[mmc0_dat0]",
		"[mmc0_clk]",
		"[mmc0_cmd]";
};

&gpio3 {
	gpio-line-names =
		"[mii col]",
		"[mii crs]",
		"[mii rx err]",
		"[mii tx en]",
		"[mii rx dv]",
		"[i2c0 sda]",
		"[i2c0 scl]",
		"[jtag emu0]",
		"[jtag emu1]",
		"[mii tx clk]",
		"[mii rx clk]",
		"NC",
		"NC",
		"[usb vbus en]",
		"P9_31 [spi1_sclk]",
		"P9_29 [spi1_d0]",
		"P9_30 [spi1_d1]",
		"[spi1_cs0_lcd]",
		"NC",
		"P9_27",
		"P9_41A",
		"P9_25",
		"NC",
		"NC",
		"NC",
		"NC",
		"NC",
		"NC",
		"NC",
		"NC",
		"NC",
		"NC";
};

/* enable adc inputs 0 - 7 */
/* set channel avg/opendelay/sampledelay so a single channel is sampled at approx 48KHz */
/* ADC cycles = opendelay + (sampledelay + convtime) * (avg+1), where convtime = 15 and ADC clock = ~3MHz */
&tscadc {
  status = "okay";
  adc {
    ti,adc-channels = <0 1 2 3 4 5 6 7>;
	   ti,chan-step-avg = <0 0 0 0 0 0 0 0>;
	   ti,chan-step-opendelay= <20 20 20 20 20 20 20 20>;
	   ti,chan-step-sampledelay = <27 27 27 27 27 27 27 27>;
  };
};

&usb0 {
	pinctrl-names = "default";
	pinctrl-0 = <&usb0_drvvbus_pins>;
	dr_mode = "host";
	status = "okay";
};

&usb0_phy {
	status = "okay";
};

/* -----------------------------------------------------------------------
 * Densitron DMT049W1NTCMI-1A  4.9" 480x854 RGB display
 *   - Pixel data:  AM3352 LCDC (tilcdc) parallel RGB interface
 *   - Init cmds:   panel-dmt049w1ntcmi SPI driver on SPI1 cs0
 *                  (MCASP0_AHCLKR / gpio3_17), Mode 3, 8 MHz
 *                  Driver calls SPI init sequence in drm_panel.prepare()
 *                  before LCDC starts clocking pixels.
 *   - Touch (CTP): I2C1 @ 0x55 (Sitronix ST7102 TDDI, 7-bit; 0xAA/0xAB in datasheet)
 *   - LCD reset:   GPMC_A11  / gpio1_27  (active-low, owned by SPI driver node)
 *   - CTP reset:   GPMC_AD12 / gpio1_12  (active-low)
 *   - CTP IRQ:     XDMA_EVENT_INTR0 / gpio0_19 (falling edge)
 *   - BL enable:   GPMC_AD10 / gpio0_26  (active-high, gpio-backlight)
 *
 * tilcdc connects directly to the panel-dmt049w1ntcmi SPI driver panel
 * via the port/endpoint graph (no intermediate panel-dpi node needed).
 * The SPI driver's get_modes() provides the display timings.
 * ----------------------------------------------------------------------- */
/ {
	backlight: backlight {
		compatible = "gpio-backlight";
		/* 20V boost enable: GPMC_AD10 / gpio0_26, active-high */
		gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
		default-on;
		status = "okay";
	};
};

&lcdc {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&lcdc_pins>;
	port {
		lcdc_out: endpoint {
			remote-endpoint = <&lcd_panel_out>;
		};
	};
};

/* -----------------------------------------------------------------------
 * Override BBB upstream DT nodes that conflict with the Pilotfish LCD.
 *
 * am335x-boneblack-common.dtsi (pulled in via compatible="ti,am335x-bone-black")
 * declares:
 *   - mcasp0: audio codec connected to LCDC via tda19988 HDMI TX
 *   - clk_mcasp0: gpio-gate-clock using gpio1_27 (GPMC_A11) as enable
 *   - tda19988 i2c node: HDMI transmitter using the LCDC port
 *
 * On Pilotfish, GPMC_A11/gpio1_27 is the LCD panel hard-reset (LCD_RSTn),
 * and the LCDC is connected directly to the DMT049W1NTCMI-1A RGB panel -
 * not to an HDMI transmitter.  We must free gpio1_27 and disconnect the
 * upstream HDMI audio wiring so the panel driver can own the reset GPIO.
 * ----------------------------------------------------------------------- */

/* Disable McASP0 - not used, and its pinmux claims GPMC_A11/gpio1_27 */
&mcasp0 {
	status = "disabled";
};

/* Disable the TDA19988 HDMI transmitter - not present on Pilotfish */
&i2c0 {
	tda19988: tda19988@70 {
		status = "disabled";
	};
};

/* Remove the gpio-gate-clock that grabs gpio1_27 (GPMC_A11 = LCD_RSTn).
 * The clk_mcasp0 node lives in root '/' from am335x-boneblack-common.dtsi.
 * We cannot /delete-node/ a node defined in an included DTSI by label from
 * a peer DTS file, so instead strip the enable-gpios property so the clock
 * driver never requests the GPIO.  The node itself becomes a fixed pass-through. */
/ {
	/delete-node/ clk_mcasp0;
	/delete-node/ sound;
};

/* -----------------------------------------------------------------------
 * McASP1 I2S output → Dante module
 *
 * McASP1 is configured as I2S master, 2-channel, 32-bit slots at 48 kHz.
 * Serializer 1 (AXR1, pad A14) is the transmit data line.
 * The Dante module is an I2S slave receiver and requires no codec driver —
 * a dummy codec is used so the simple-audio-card machine driver can bind.
 *
 * ALSA PCM device: hw:1,0  (card "pilotfish-dante", device 0)
 * PipeWire/PulseAudio will route the BlueZ A2DP sink here automatically
 * once the card is registered.
 * ----------------------------------------------------------------------- */
/ {
	dante_codec: dante-dummy-codec {
		compatible = "linux,spdif-dit";
		#sound-dai-cells = <0>;
	};

	sound_dante: sound-dante {
		compatible = "simple-audio-card";
		simple-audio-card,name = "pilotfish-dante";
		simple-audio-card,format = "i2s";
		/* McASP1 is I2S master: drives BCLK and LRCLK */
		simple-audio-card,bitclock-master = <&dante_cpu_dai>;
		simple-audio-card,frame-master = <&dante_cpu_dai>;

		dante_cpu_dai: simple-audio-card,cpu {
			sound-dai = <&mcasp1>;
			system-clock-frequency = <24576000>; /* 512 * 48000 Hz */
		};

		simple-audio-card,codec {
			sound-dai = <&dante_codec>;
		};
	};
};

&mcasp1 {
	pinctrl-names = "default";
	pinctrl-0 = <&mcasp1_pins>;
	status = "okay";
	#sound-dai-cells = <0>;
	op-mode = <0>;		/* MCASP_IIS_MODE */
	tdm-slots = <2>;
	/* serial-dir: 0=inactive, 1=TX, 2=RX
	 * 4 serializers: ser0=inactive, ser1=TX(AXR1/A14), ser2=inactive, ser3=inactive */
	serial-dir = <0 1 0 0>;
	tx-num-evt = <32>;
	rx-num-evt = <0>;
};
